body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f2f2f2;
    padding: 20px;
}
h1{
    text-align: center;
    margin-bottom: 20px;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    max-width: 1000px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.item{
    background: rgb(1, 137, 235);
    color: white;
    font-size: 20px;
    padding: 40px;
    text-align: center;
    border-radius: 10px;
}
.item1{
    grid-column: span 2;
}
.item4{
    grid-row: span 2;
    background: rgb(255, 217, 0);
}
