body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f5f5f5;
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
}
.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    background: #ffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    margin: 0 auto;
}

.flex-item{
    background: #4CAF50;
    color: white;
    padding: 40px;
    font-size: 20px;
    text-align: center;
    border-radius: 20px;
    flex: 1 1 200px;
    transition: transform 0.3s;
}
.flex-item:hover{
    transform: scale(1.1);
}
.note{
    text-align: center;
    margin-top: 20px;
    color: #555;
}
