/* #me{
    color: brown;
}
.main{
    color: blue;
}
#head{
    font-size: 100px;
}
.heading{
    font-weight: bold;

} */

/* .c1{
    color: red;
}
.test{
    font-size: 50px;
} */

.class1{
    margin: 100px 30px;
    border: 1px solid black;
    padding: 30px;
}